<!doctype html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Righteous&display=swap" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="{% static 'css/sell_page.css' %}">
    <link rel="shortcut icon" href="{%static 'img/champ.ico' %}" />
    <title>Document</title>
      <style>
   [data-tooltip] {
    position: relative; /* Относительное позиционирование */
   }
   [data-tooltip]::after {
    content: attr(data-tooltip); /* Выводим текст */
    position: absolute; /* Абсолютное позиционирование */
    left: 0; top: 0; /* Положение подсказки */
    background: rgba(161,21,207, 0); /* Синий цвет фона */
    color: #fff; /* Цвет текста */
    pointer-events: none; /* Подсказка */
    opacity: 0; /* Подсказка невидима */
    transition: 1s; /* Время появления подсказки */
   }
   [data-tooltip]:hover::after {
    opacity: 1; /* Показываем подсказку */
    top: 100%; /* Положение подсказки */
   }
  </style>
</head>
<body>
    <div class="intro">
        <header>
            <div class="header">
                <div class="container">
                    <div class="header__inner">

                        <a class="imLogo" href="/"></a>

                        <div class="nav">
                            <a class="nav__link" href="/profile">Profile</a>
                            <a class="link__text">Background</a>
                            {% if request.user.is_authenticated %}
                                <a class="nav__link" href="/logout">Logout</a>
                            {% else %}
                                <a class="nav__link" href="/reg">Registration</a>
                            {% endif %}

                        </div>
                    </div>
                </div>
            </div>
        </header>

        <main>
            <div class="sell mb-3">
                <div class="col">
                    <div class="sell-card">
                        <div class="text-form">
                            <form method="post">{% csrf_token %}
                                <table>
                                    <tr>
                                        <td><input type="text" name="address" size="15" placeholder="Address"></td>
                                    </tr>
                                    <tr>
                                        <td><input type="text" name="index" size="8" placeholder="Index"></td>
                                    </tr>
                                    <tr>
                                        <td><input type="text" name="entrance" size="8" placeholder="Entrance"></td>
                                    </tr>
                                    <tr>
                                        <td><input type="text" name="floor" size="8" placeholder="Floor"></td>
                                    </tr>
                                    <tr>
                                        <td><input type="text" name="comment" size="8" placeholder="Comment"></td>
                                    </tr>
                                    <tr>
                                        <td>
                                            {% if request.user.is_authenticated %}
                                                <input type="submit" class="submit" value="delivery">
                                            {% else %}
                                                <style></style>
                                                    <p data-tooltip="tap to login">
                                                        <a href="/reg" class="submit">delivery</a>
                                                    </p>
                                            {% endif %}
                                        </td>
                                    </tr>
                                </table>
                            </form>
                        </div>
                        <div class="products">
                            Products:
                        </div>
                    </div>
                </div>
            </div>
        </main>

    </div>
</body>
</html>