<!doctype html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Righteous&display=swap" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="{% static 'css/style_a.css' %}">
    <link rel="shortcut icon" href="{%static 'img/champ.ico' %}" />
    <script src="{% static '/scripts/anime.min.js' %}"></script>
    <title>Document</title>
</head>
<body>
<div class="header">
        <div class="container">
            <div class="header__inner">
                <a class="imLogo" href="/"></a>

                <div class="nav">
                    <a class="nav__link" href="/profile">Profile</a>
                    <a class="nav__link" href="/background">Background</a>
                    <a class="nav__link" href="reg">Registration</a>
                    <a class="nav__link" href="/accounts/logout/">logout</a>
                </div>
        </div>
        </div>


</div>
    <div class="intro">
        <div class="back__header">
            <div class="back__header__inner">

            </div>
        </div>

        <svg id="demo-svg" width="1" height="1">
    <path fill="none" d="M 209 116 Q 200 178 274 208 Q 374 232 459 207 Q 550 185 544 119 "></path>
</svg>
        <div class="container">
            <div class="intro__inner">
                <div class="logo" >Montherat</div>
                <div class="el"></div>

                </div>

            </div>


    </div>

<script>
    let path = anime.path('#demo-svg path')

    anime({
        targets: '.el',
        translateX: path('x'),
        translateY: path('y'),
        rotate: path('angle'),
        easing: 'linear',
        duration: 4017,
        direction: 'alternate',
        loop: true,
});
</script>

<script>

    var colorsExamples = anime.timeline({
  endDelay: 1000,
  easing: 'easeInOutQuad',
  direction: 'alternate',
  loop: true,
  delay: 1,
})
    .add({ targets: '.logo',  color: 'rgb(255,255,255)' }, 0)
</script>



</body>
</html>