*{
    margin: 0;
    padding: 0;
    font-family: 'Righteous', cursive;
    font-size: 30px;
    color: #79aec8;
    line-height: 1.6;
}
.container{
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
}
h1,h2,h3,h4,h5,h6{
    margin: 0;
}
*,
*:before,
*:after{
    box-sizing: border-box;
}
.intro{
    background: url("../img/front_a.jpg")center no-repeat;
    height: 100vh;
    width: 100%;
    background-size: cover;
    -webkit-background-size: cover;
}
.header__inner{
    display: flex;
    justify-content: space-between;
}
.header{
    width: 100%;
    position: absolute;
}

.logo{
    font-size: 110px;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%)

}
.nav{
    text-transform: uppercase;
}
.nav__link{
    display: inline-block;
    vertical-align:top;
    text-align: right;
    /*margin: 0 15px;*/
    color: #fff;
    text-decoration: none;
    margin:  50px 15px;

    transition: color .3s linear;
}
.nav__link:hover{
    color: rgba(0, 0, 0, 0.4);
}
.imLogo{
    background: url("../img/cake.png");
    background-size: 95px 88px;
    width: 10px;
    height: 20px;;
    padding: 40px;
    margin: 20px 15px;

}
.el{
    background: #79aec8;
    width: 35px;
    height: 35px;
    position: absolute;
    margin: 65px 195px;
    border-radius: 50%;
    top: 13%;
    left: 298px;

}
.link__text{
    display: inline-block;
    vertical-align:top;
    text-align: right;
    color: black;
    text-decoration: none;
    margin:  50px 15px;
}
