

*{
    margin: 0;
    padding: 0;
    font-family: 'Righteous', cursive;
    font-size: 30px;
    color: #79aec8;
    line-height: 1.6;
}

body{
    overflow: hidden;
}

.header{
    width: 100%;
    position: absolute;
}

.container{
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
}

.header__inner{
    display: flex;
    justify-content: space-between;
}

.imLogo{
    background: url("../img/cake.png");
    background-size: 95px 88px;
    width: 10px;
    height: 20px;;
    padding: 40px;
    margin: 20px 15px;
}

.nav{
    text-transform: uppercase;
}

.nav__link{
    display: inline-block;
    vertical-align:top;
    text-align: right;
    color: #fff;
    text-decoration: none;
    margin:  50px 15px;
    transition: color .3s linear;
}

.nav__link:hover{
    color: rgba(0, 0, 0, 0.4);
}

.link__text{
    display: inline-block;
    vertical-align:top;
    text-align: right;
    color: black;
    text-decoration: none;
    margin:  50px 15px;
    transition: color .3s linear;
}

.intro{
    background: url("../img/front_a.jpg")center no-repeat;
    height: 100vh;
    width: 100%;
    background-size: cover;
    -webkit-background-size: cover;
}

.back__header{
    background:rgba(0, 0, 0, 0.4);
    width: 100%;
    height:42px;
    position: absolute;
    top: 100%;
    transform: translate(0, -100%)
}

.back__header__inner{
    width: 100%;
    height: 100%;
    max-width: 700px;
    display: flex;
    justify-content: space-between;
    position:absolute;
    left: 50%;
    transform: translate(-50%, 0 );

}

.con{
    position: absolute;
	width: 320px;
	top: 35%;
	left: 38%;
}

.under_text{
    font-family: 'Open Sans', 'sans-serif', 'FontAwesome';
    color: black;
    font-size: 15px;
}

.reg__table{
    position: absolute;
    width: 500px;
    height: 500px;
    background: rgba(0,0,0,0.5);
    top: 400px;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%)
}
#username{
    position: absolute;
    max-width: 180px;
    border-radius: 6%;
    top: 30%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%)
}
#password{
    position: absolute;
    max-width: 180px;
    border-radius: 6%;
    top: 43%;
    left: 50%;
    margin-right: -50%;
    margin-top: 0;
    transform: translate(-50%, -50%)

}
#text{
    color: black;
    font-size: 13px;
    position: absolute;
    margin-right: -50%;
    margin-top: 0;
    top: 300px;
    left: 210px;
    transform: translate(-50%, -50%)

}

#link{
    color: black;
    font-size: 13px;
    position: absolute;
    margin-right: -50%;

    top:300px;
    left: 300px;
    text-decoration: none;
    transform: translate(-50%, -50%);
    transition: color .3s linear;
}
#link:hover{
    color:rgba(45, 138, 72, 0.5);
}
.butt{
    width: 50px;
    height: 50px;
    position: absolute;
    border-radius: 50%;
    top:160px;
    left:320px;
}

#link2{
    color: black;
    font-size: 13px;
    position: absolute;
    margin-right: -50%;

    top:300px;
    left: 310px;
    text-decoration: none;
    transform: translate(-50%, -50%);
    transition: color .3s linear;
}