<!doctype html>
{% load static %}
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport"
        content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Document</title>
    <link rel="stylesheet" type="text/css" href="{% static 'css/style_reg.css' %}">
</head>
<body>
<h1>Registration Form</h1>
<div id="wrapper">
    <form method="post" id="signin" autocomplete="off">{% csrf_token %}
        <table>
            <tr>
                <td><input type="text" id="username" name="username" placeholder="username"></td>
            </tr>
            <tr>
                <td><input type="password" id="password" name="password" placeholder="password"></td>
            </tr>
            <tr>
                <td><p>if you registered <a href="/login">click here</a></td></p>
                <td><button type="submit">&#xf0da;</button>
            </tr>
        </table>
    </form>
</div>

</body>
</html>